*.class
# idea config file
.idea/
*.iml

sanshan-common/src/main/resources/
sanshan-common/target/
sanshan-web/target/
sanshan-pojo/target/
sanshan-dao/target/
sanshan-service/target/
sanshan-center/target/

*.log

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar